table{
border:1px solid black;
border-collapse:collapse;
text-align: center;
margin-top: 20px;
}

h1 {
text-indent: 25px;
}

td,th{
text-align: center;
border:1px solid black;
padding: 10px;
}

body{
background-image: url(pinkbg.bmp);
    
 background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    font-family: "Roboto", sans-serif;
   }

a {text-decoration: none; }

.leftstr, .rightstr {
		 float: left; /* Обтекание справа */ 
		 width: 30%; /* Ширина текстового блока */ 
		}
		.rightstr {
		 text-align: right; /* Выравнивание по правому краю */ 
		}
